<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.françaisazertynumérique</string>
	<key>CFBundleName</key>
	<string>Français AZERTY Numérique copy 2</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_FR-AZERTY-num</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.françaisazertynumérique.fr-azerty-num</string>
		<key>TISIntendedLanguage</key>
		<string>fr</string>
	</dict>
</dict>
</plist>
